/* for animation */
.wordcloud-enter {
    opacity: 0;
}

.wordcloud-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}
/* for over-border words*/
 
.parent-div {
    display: flex;
  }

  .parent-div :nth-child(1) {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-shrink: 0;
    width: 910px;
    height:780px;
  } 

/* for zoom in */
.zoomable-svg {
    transform: scale(1.5);
    transform-origin: center;
}

/* change opacity*/
.selected-word {
    font-weight: bold !important;
    opacity: 1 !important;
    font-size: 50px !important;
  }

.word-clicked  text {
    opacity: 0.5
}